<div class="container main">
    <div class="row"> 
    <div class="col-md-12 course-filter p-2" ><form method="post" action="/submit/6356603eb0a78229e9595cbf/<%= profile.email %>"><div class="form-group row">
    <div class="col-xs-2 mx-auto">
      
      <p class="form-control" id="ex1" type="text" >Test 1</p>
    </div>
    
    </div>
        <div>
        <p type="number" name="pts0" class="mb-3 pull-right ml-5 form-control col-1" id="pts0">1</p>
    </div>
    <div class="btn-group pull-right">
        <div class="filter-label">Question Type</div>
        <select class="ml-0 btn btn-default btn-lg btn-course-filter dropdown-toggle p-0" name="QT" id="QT"> 
            <option value="MCQ">
                MCQ
            </option>
            
        </select>
    </div>
            
            Question 1: <p type="text" name="Q" class="form-control mt-3 input-lg">What is Capital of India?</p><br><div class="input-group-prepend m-3"><input type="radio" name="answer1"  value="a"><p type="text" name="optionsa1" class="form-control ml-2">Ahemdabad</p></div><div class="input-group-prepend m-3"><input type="radio" name="answer1"  value="b"><p type="text" name="optionsb1" class="form-control ml-2">Mumbai</p></div><div class="input-group-prepend m-3"><input type="radio" name="answer1"  value="c"><p type="text" name="optionsc1" class="form-control ml-2">Kolkata</p></div><div class="input-group-prepend m-3"><input type="radio" name="answer1"  value="d"><p type="text" name="optionsd1" class="form-control ml-2">Delhi</p></div><button type="submit" class="btn btn-default btn-success pull-right">Submit</button></form></div></div></div>