<!-- Footer -->
<footer class="footer bg-primary" style=" position: fixed;
bottom: 0;
width: 100%;
height: 60px;
z-index: 5;">
    <div class="container">
        <div class="row p-4">
            <div class="col">
               
            </div>
            <div class="col col-md-12 text-center ">
                <a  href="https://promit-revar.github.io/Portfolio/" style="color: #fff !important;
                text-transform: uppercase; text-decoration: none;">Created By Promit Revar with </a> &hearts;
                <br>
              
            </div>
            <div class="col">
                
            </div>
        </div>
        
    </div>
</footer>
</body>