<%- include('./components/nav.ejs',{data:data,title:"dashboard"}) %>


<div class="container main">
    <div><h1 class="welcome-text">Welcome <%= data.name %>!</h1></div>
    <div class="row">
            
            
                <div class="btn-group col">
                    <form action="/createQuiz">
                    <button class="btn btn-default btn-success" type="submit"> Create Quiz</button>
                    </form>
                </div>

        <div class="col-md-12 mt-3" >
            <ul style="list-style:none;" id="quizlist">
                
                <li> 
                    
            
            </li>
                </ul>
                <br>
        </div>
    </div>

</div>
<script>
    $(document).ready(()=>{
        var quizes= <%- JSON.stringify(quizes) %>;
        for(var i=0;i<quizes.length;i++){
            
            document.getElementById('quizlist').innerHTML+=`<li class="m-3">
                <a href="/quizDetails/${quizes[i].name}"  data-role="course-box-link">
            
             
            <div class="row Course-video">
            
                <div class="col-3">
                    
                    
                </div>
            
            
                <div class="col-3">
                    
                    
                    <h3 >${quizes[i].name}</h3>
                    
                 
                </div>
                <div class="col">Attempted By:
                    ${quizes[i].attempted}</div>
                <div class="col">
                    Created on:
                    <i >${quizes[i].date}</i>
                    <i >${quizes[i].time}</i>
                    
                </div>  
                
            </div>
                
                
                
                
            </a>
            </li>
            `;
            
        }
        
    });
</script>
<%- include('./components/footer.ejs') %>