<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <!--Icon-->
    <link rel="icon" href="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:32,height:32/https://file-uploads.teachablecdn.com/96e44e884a324e76ab12eeb08cbc2ba1/7db81cf7f2f343f183db201978e9c146">
    <!-- Bootstrap CDNs -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Dashboard Css -->
    <link rel="stylesheet" href="./utils/dashboard.css">
    <!-- JQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   
       
</head>
<body>
    <!-- NavBar -->
    <nav class="navbar navbar-dark bg-primary p-0">
        <a href="#" class="navbar-brand ml-5 " ><img src="./images/Quizer.png" height="65px"></a>
        <div class="container">
            
        <div></div>
        
            <ul class="nav navbar dropdown ">
                <li>
            <button class="bg-primary btn mr-5  mb-0" id="profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="<%= data.picture %>" alt="profile pic" style="border-radius: 50%;" height="30px">
                <div class="dropdown-menu" id="dropdown" aria-labelledby="profile">
                    <a class="dropdown-item" href="#">Edit Profile</a>
                    <a class="dropdown-item" href="#">Manage Subscriptions</a>
                    <a class="dropdown-item" href="#">Add / Change Credit Card</a>
                    <a class="dropdown-item" href="#">Address</a>
                    <a class="dropdown-item" href="#">Contact</a>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            
            </button>
        </li>
        </ul>
    </div>
    </nav>

    <div class="container main">
        <div><h1 class="welcome-text">Welcome <%= data.name %>!</h1></div>
        <div class="row">
            
            
            <div class="col-md-12 course-filter p-2" >
                <form method="post" action="/save">
                    <div class="form-group row">
                        <div class="col-xs-2 mx-auto">
                          
                          <input class="form-control" id="ex1" type="text" name="qname" value="untitled">
                        </div>
                        
                        </div>
                      
                    
                    <ul style="list-style:none;" id="quiz">
                        <li>
                        <div>
                            <input type="number" name="pts1" class="mb-3 pull-right ml-5 form-control col-1" id="pts1" placeholder="marks" min=0 required>
                        </div>
                    <div class="btn-group pull-right mr-5">
                        
                        <div class="filter-label">Question Type</div>
                        <select class="ml-0 btn btn-default btn-lg btn-course-filter dropdown-toggle p-0" name="QT1" id="QT1"> 
                            <option value="MCQ">
                                MCQ  
                            </option>
                            <option value="short">
                                Short Text
                            </option>
                        </select>
                    </div>
                            Question 1: <input type="text" name="Q1" class="form-control mt-3 input-lg" required><br>
                            <div id="question1">
                                <div id="a1" class="input-group-prepend m-3"><button class="btn btn-default btn-danger m-2" onclick="removeOptions('a',1)">X</button><input type="radio" name="options1"  value="a" required><input type="text" name="optionsa1" class="form-control ml-2" required></div>
                                <div id="b1" class="input-group-prepend m-3"><button class="btn btn-default btn-danger m-2" onclick="removeOptions('b',1)">X</button><input type="radio" name="options1"  value="b" required><input type="text" name="optionsb1" class="form-control ml-2" required></div>
                                <div id="c1" class="input-group-prepend m-3"><button class="btn btn-default btn-danger m-2" onclick="removeOptions('c',1)">X</button><input type="radio" name="options1"  value="c" required><input type="text" name="optionsc1" class="form-control ml-2" required></div>
                                <div id="d1" class="input-group-prepend m-3"><button class="btn btn-default btn-danger m-2" onclick="removeOptions('d',1)">X</button><input type="radio" name="options1"  value="d" required><input type="text" name="optionsd1" class="form-control ml-2" required></div>
                            </div>
                            <div id="1"><button class="btn btn-default btn-primary"  onclick="addComponent(1)"> Add</button></div> 
                        </li>
                    </ul>
                    <button type="submit" class="btn btn-default btn-success pull-right">Save Quiz</button>
                 </form> 
            </div>
            
            
        </div>
    
        
            <br>
    </div>
    <!-- Footer -->
    <footer class="footer bg-primary">
        <div class="container">
            <div class="row p-4">
                <div class="col">
                   
                </div>
                <div class="col col-md-12 text-center ">
                    <a class="footer-link" href="https://promit-revar.github.io/Portfolio/">Created By Promit Revar with </a> &hearts;
                    <br>
                  
                </div>
                <div class="col">
                    
                </div>
            </div>
            
        </div>
    </footer>
</body>
<script>
    
    $(document).ready(function(){
        $(document).delegate('select','change',function(){
            var id=$(this).attr("id").substr(2);
            //console.log(id);
            var shortComponent=`<div class="row">
                            <div class="col-2 mb-3">
                            min chars:<input type="number" name="min${id}" class="form-control input-group-sm" value="1" required>
                        </div>
                        <div class="col-2 ml-5">
                            max chars:<input type="number" name="max${id}" class="form-control input-group-sm" value="100" required>
                            </div>
                        </div>
                        `;
            var mcqComponent=`<div id="a${id}" class="input-group-prepend m-3"><button class="btn btn-default btn-danger m-2" onclick="removeOptions('a',1)">X</button><input type="radio" name="options${id}" value="a" required><input type="text" name="optionsa${id}" class="form-control ml-2" required></div>
                        <div id="b${id}" class="input-group-prepend m-3"><button class="btn btn-default btn-danger m-2" onclick="removeOptions('b',1)">X</button><input type="radio" name="options${id}"  value="b" required><input type="text" name="optionsb${id}" class="form-control ml-2" required></div>
                        <div id="c${id}" class="input-group-prepend m-3"><button class="btn btn-default btn-danger m-2" onclick="removeOptions('c',1)">X</button><input type="radio" name="options${id}"  value="c" required><input type="text" name="optionsc${id}" class="form-control ml-2" required></div>
                        <div id="d${id}" class="input-group-prepend m-3"><button class="btn btn-default btn-danger m-2" onclick="removeOptions('d',1)">X</button><input type="radio" name="options${id}"  value="d" required><input type="text" name="optionsd${id}" class="form-control ml-2" required></div>`;
            if(this.value=='short'){
            document.getElementById("question"+id).innerHTML=shortComponent;
        
            }
            else{
            document.getElementById("question"+id).innerHTML=mcqComponent;
            }
           
        });
         $(document).delegate('div','mouseenter',function(){
            var id=$(this).attr('id');

            if(id &&(id.charAt(0)=='a' || id.charAt(0)=='c' || id.charAt(0)=='b'  || id.charAt(0)=='d' )){

            //console.log(id);
            
            //console.log('hovering')
            
            var shuffle=document.createElement('div');
            shuffle.innerHTML=`<button style="border-radius:50%" id="swap${id}" type="button" class="btn btn-default btn-secondary pull-right btn-sm ml-2 ")"><b>^</b></button>`;
            document.getElementById(id).appendChild(shuffle);
           $(document).delegate(`#swap${id}`,'click',function(){
               
                var orderalpha=['a'+id.substr(1),'b'+id.substr(1),'c'+id.substr(1),'d'+id.substr(1)];
                if(orderalpha.indexOf(id)-1>=0){
                    if($('#'+orderalpha[orderalpha.indexOf(id)-1]).length){
                        
                        let previousId=orderalpha[orderalpha.indexOf(id)-1];
                        let previousVal=$(`input[name="options${previousId}"]`).val();
                        let thisVal=$(`input[name="options${id}"]`).val();
                        setTimeout(()=>{
                        $(`input[name="options${previousId}"]`).val(thisVal);
                        $(`input[name="options${id}"]`).val(previousVal);
                        //console.log("swapped",previousVal,thisVal,id)
                        },200);
                        
                    }
                }
                return;

           });
        
            
        }
        });
        $(document).delegate('div','mouseleave',function(){
                //console.log('hovering')
                var id=$(this).attr('id');
                if(id &&(id.charAt(0)=='a' || id.charAt(0)=='c' || id.charAt(0)=='b'  || id.charAt(0)=='d' )){


                var option=document.getElementById(id);
                option.removeChild(option.lastChild);
                }
            });
        
        
    });
    
    function removeOptions(id,ques){
       console.log(ques,id,id+ques.toString());
       var arr=['a','b','c','d'];
       var x=0;
       for(var i=0;i<4;i++){
            if(document.getElementById(arr[i]+ques.toString()).innerHTML!=""){
                //console.log(document.getElementById(arr[i]).innerHTML);
                x++;
                
            }
       }
       if(x>2){
          document.getElementById(id+ques.toString()).innerHTML="";
       }
       else{
         alert("You have to keep atleast 2 options in MCQ type questions!");
       }
    }
    function addComponent(ques){
        
        var component=document.createElement('div');
        component.innerHTML=`<li>
            <div>
                <input type="number" min=0 name="pts${ques+1}" class="mb-3 pull-right ml-5 form-control col-1" id="pts${ques+1}" placeholder="marks" required>
            </div>
            <div class="btn-group pull-right">
                    <div class="filter-label">Question Type</div>
                    <select class="ml-0 btn btn-default btn-lg btn-course-filter dropdown-toggle p-0" name="QT${ques+1}" id="QT${ques+1}" >
                        
                        <option value="MCQ" >
                            MCQ  
                        </option>
                        <option value="short">
                            Short Text
                        </option>
                        
                        
                    </select>
                </div>
                
                 Question ${ques+1}: <input type="text" name="Q${ques+1}" class="form-control mt-3 input-lg" required><br>
                 <div id="question${ques+1}">
                        <div id="a${ques+1}" class="input-group-prepend m-3"><button class="btn btn-default btn-danger m-2" onclick="removeOptions('a',${ques+1})">X</button><input type="radio" name="options${ques+1}"  value="a" required><input type="text" name="optionsa${ques+1}" class="form-control ml-2" required></div>
                        <div id="b${ques+1}" class="input-group-prepend m-3"><button class="btn btn-default btn-danger m-2" onclick="removeOptions('b',${ques+1})">X</button><input type="radio" name="options${ques+1}"  value="b" required><input type="text" name="optionsb${ques+1}" class="form-control ml-2" required></div>
                        <div id="c${ques+1}" class="input-group-prepend m-3"><button class="btn btn-default btn-danger m-2" onclick="removeOptions('c',${ques+1})">X</button><input type="radio" name="options${ques+1}"  value="c" required><input type="text" name="optionsc${ques+1}" class="form-control ml-2" required></div>
                        <div id="d${ques+1}" class="input-group-prepend m-3"><button class="btn btn-default btn-danger m-2" onclick="removeOptions('d',${ques+1})">X</button><input type="radio" name="options${ques+1}"  value="d" required><input type="text" name="optionsd${ques+1}" class="form-control ml-2" required></div>
                    </div>
                        <div id=${ques+1}><button class="btn btn-default btn-primary"  onclick="addComponent(${ques+1})"> Add</button></div>` 
        //console.log(component);        
        document.getElementById('quiz').appendChild(component);
        document.getElementById(`${ques}`).remove();
        
    }
    </script>
</html>