
<%- include('./components/nav.ejs',{data:data,title:"dashboard"}) %>

    <div><h1 class="welcome-text">Welcome <%= data.name %>!</h1></div>
        <div class="row">
            
            
            <div class="col-md-12 course-filter p-2" >
                
                    <div class="form-group row">
                        <div class="col-8 mx-auto ">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Enter Link</span>
                                <input class="form-control" id="link" type="text" name="qname" >
                            </div>
                          
                            <div>
                                <button href="#" id="submit" class="btn btn-success mt-3 pull-right"> Give Test </button>
                            </div>
                        </div>
                        
                    </div>
                
            </div>
        </div>
        <script>
            
            $(document).ready(function(){
                $('#submit').click(function(){
                    var link=$('#link').val();
                    var email="<%= data.email %>";
                    var encoded=encodeURIComponent(email);
                    if(link){
                        window.open(link+"/"+encoded,"_self");
                            
                    }
                    else{
                        alert("Please Enter a Valid Link!")
                    }
                }); 
            });
    
        </script>
</body>
</html>
